{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2>Workouts</h2>
            {% if selected_body_parts %}
                <p>Body parts selected:</p>
                {% for body_part in selected_body_parts %}
                    <a href="{% url 'workouts' %}?body_part={{ body_part.name }}" class="btn btn-red rounded-0 mb-1">{{ body_part.friendly_name }}</a>
                {% endfor %}
            {% endif %}
            {% if selected_equipment %}
                <p>Equipment selected:</p>
                {% for equipment in selected_equipment %}
                    <a href="{% url 'workouts' %}?equipment={{ equipment.name }}" class="btn btn-red rounded-0 mb-1">{{ equipment.friendly_name }}</a>
                {% endfor %}  
            {% endif %}
            {% if selected_targets %}
                <p>Targets selected:</p>
                {% for target in selected_targets %}
                    <a href="{% url 'workouts' %}?target={{ target.name }}" class="btn btn-red rounded-0 mb-1">{{ target.friendly_name }}</a>
                {% endfor %}   
            {% endif %}             
            <hr class="bg-white w-75">
        </div>
    </div>
    <div class="row">
        <div class="container minheight">
            <div class="row">
                <div class="col-6 text-left">
                    <p>                        
                        {% if selected_body_parts or selected_equipment or selected_targets or selected_sorting != 'None_None' %}
                            <a href="{% url 'workouts' %}" class="link-white-hover-white">Workouts Home</a> |
                        {% endif %}
                        {{ workouts|length }} Workouts
                    </p>
                </div>
                <div class="col-6 text-right">
                    <select id="sort-selector" class="border-white rounded-0 mb-3 w-75">
                        <option value="reset" {% if selected_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="rating_asc" {% if selected_sorting == 'rating_asc' %}selected{% endif %}>
                            Rating (low to high)</option>
                        <option value="rating_desc" {% if selected_sorting == 'rating_desc' %}selected{% endif %}>
                            Rating (high to low)</option>
                        <option value="name_asc" {% if selected_sorting == 'name_asc' %}selected{% endif %}>Name
                            (A-Z)</option>
                        <option value="name_desc" {% if selected_sorting == 'name_desc' %}selected{% endif %}>Name
                            (Z-A)</option>
                        <option value="bodypart_asc"
                            {% if selected_sorting == 'bodypart_asc' %}selected{% endif %}>Body Part (A-Z)</option>
                        <option value="bodypart_desc"
                            {% if selected_sorting == 'bodypart_desc' %}selected{% endif %}>Body Part (Z-A)</option>
                        <option value="equipment_asc"
                            {% if selected_sorting == 'equipment_asc' %}selected{% endif %}>Equipment (A-Z)</option>
                        <option value="equipment_desc"
                            {% if selected_sorting == 'equipment_desc' %}selected{% endif %}>Equipment (Z-A)</option>
                        <option value="target_asc"
                            {% if selected_sorting == 'target_asc' %}selected{% endif %}>Target (A-Z)</option>
                        <option value="target_desc"
                            {% if selected_sorting == 'target_desc' %}selected{% endif %}>Target (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="row">
                {% for workout in workouts %}
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="card h-100 text-black rounded-0">                            
                            {% if workout.image %}
                                <a href="{% url 'workout_detail' workout.id %}" class="link-card">
                                    <img src="{{ workout.image.url }}" alt="{{ workout.name }}" class="card-img-top img-fluid rounded-0">
                                </a>
                            {% else %}
                                <a href="{% url 'workout_detail' workout.id %}" class="link-card">
                                    <img src="{{ MEDIA_URL }}No_Image_Available.jpg" alt="{{ workout.name }}" class="card-img-top img-fluid rounded-0">
                                </a>
                            {% endif %}
                            <div class="card-body p-2">
                                <p class="text-center text-uppercase
                                font-weight-bold m-0">{{ workout.name }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        {% if workout.body_part %}
                                            <p class="small m-0">
                                                <a href="{% url 'workouts' %}?body_part={{ workout.body_part.name }}" class="text-muted"><i class="fas fa-tag"></i> Body part: {{ workout.body_part.friendly_name }}</a>
                                            </p>
                                        {% endif %}
                                        {% if workout.equipment %}
                                            <p class="small m-0">
                                                <a href="{% url 'workouts' %}?equipment={{ workout.equipment.name }}" class="text-muted"><i class="fas fa-tools"></i> Equipment: {{ workout.equipment.friendly_name }}</a>
                                            </p>
                                        {% endif %}
                                        {% if workout.target %}
                                            <p class="small m-0">
                                                <a href="{% url 'workouts' %}?target={{ workout.target.name }}" class="text-muted"><i class="fas fa-bullseye"></i> Target: {{ workout.target.friendly_name }}</a>
                                            </p>
                                        {% endif %}
                                        {% if workout.rating %}
                                            <p class="small text-muted m-0"><i class="fas fa-star"></i> {{ workout.rating }}/5</p>
                                        {% else %}
                                            <p class="text-muted m-0">No Rating</p>
                                        {% endif %}
                                        {% if request.user.is_superuser %}
                                            <br>
                                            <a href="{% url 'edit_workout' workout.id %}" class="small link-black">Edit</a>
                                            <!-- TODO: Change text color for delete to red -->
                                            <a href="{% url 'delete_workout' workout.id %}" class="small link-black float-right">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
    <button id="button-to-top" class="btn btn-white"><i class="fas fa-caret-up fa-lg m-3"></i></button>
</div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // TODO: Move JavaScript code into its own file, since we use it twice
        // Code from Stackoverflow, the second answer: https://stackoverflow.com/questions/14249998/jquery-back-to-top
        $(window).scroll(function() {
            if ($(this).scrollTop()) {
                $('#button-to-top').fadeIn();
            } else {
                $('#button-to-top').fadeOut();
            }
        });
        
        $("#button-to-top").click(function() {
            $("html, body").animate({scrollTop: 0}, 1000);
         });
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                // 
                if(sort == "bodypart"){
                    sort = "body_part";
                }
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            }
            else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}