{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
        <div class="container minheight">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <section id="call-to-action-section_auth">
                        <div class="col-8 offset-2 offset-sm-3 offset-lg-5">
                            <h1 class="text-white call-to-action-header text-center px-4 my-5">Make it simple.<br> Get fit.</h1>
                            <div class="text-center">
                                <h4>
                                    <a href="#" class="btn btn-lg btn-red rounded-0 text-uppercase mb-5">Shop Now</a>
                                </h4>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <section id="call-to-action-section_unauth">
                        <div class="col-8 offset-2 offset-sm-3 offset-lg-5">
                            <h1 class="text-white call-to-action-header text-center px-4 my-5">Make it simple.<br> Get fit.</h1>
                            <div class="text-center">
                                <h4 class="px-4">
                                    <a href="#" class="btn btn-lg btn-red rounded-0 text-uppercase mb-5">Shop Now</a>
                                </h4>
                            </div>
                        </div>
            </div>
                    </section>
                    <section id="jumbotron-section">
                        <div class="row">
                            <div class="col-8 offset-2 offset-sm-2 jumbotron-btn-xs d-block d-md-none">
                                <div id="jumbotron-collapse-div" class="my-5">
                                    <button id="jumbotron-collapse-button w-100" class="btn bg-white rounded-0 w-100 mt-5" type="button" data-toggle="collapse" data-target="#collapseJumbotron" aria-expanded="false" aria-controls="collapseJumbotron">
                                        {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                        <h2 class="feature-header"><i class="fas fa-angle-right"></i> Join The Git Fit Community</h2>
                                      </button>
                                    <div class="jumbotron collapse" id="collapseJumbotron">
                                        <div class="col">
                                            <p class="lead text-center">Join the community for support from your peers and access to our exercise and nutritions plans designed to help you git fit.</p>
                                            <h4 class="text-center">
                                                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-red rounded-0 text-uppercase"><i class="fas fa-user-plus"></i> Register</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="jumbotron d-none d-md-block my-5">
                                    <div class="col-8 offset-2">
                                        <h2 class="text-center">Join The Git Fit Community</h2>
                                        <p class="lead text-center">Join the community for support from your peers and access to our exercise and nutritions plans designed to help you git fit.</p>
                                        <h4 class="text-center">
                                            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-red rounded-0 text-uppercase"><i class="fas fa-user-plus"></i> Register</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="testimonials-section">
                        <div class="row">
                            <div class="col-8 offset-2 testimonial-btn-xs d-block d-sm-none text-center">
                                <div class="testimonial-collapse mb-5">
                                    <button class="btn bg-white rounded-0 w-100" type="button" data-toggle="collapse" data-target="#collapseTestimonial1" aria-expanded="false" aria-controls="collapseTestimonial1">
                                        <img src="https://ui-avatars.com/api/?name=Brad+Harris" class=" float-left mr-1" alt="Avatar"> Testimonial from Brad Harris
                                    </button>
                                    <div class="collapse bg-white p-3" id="collapseTestimonial1">
                                        <div class="row">
                                            <div class="col">
                                                <p ><i>Git Fit keeps it simple. Join, if you finally want to get fit!</i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 offset-2 testimonial-btn-xs d-block d-sm-none text-center">
                                <div class="testimonial-collapse mb-5">
                                    <button class="btn bg-white rounded-0 w-100" type="button" data-toggle="collapse" data-target="#collapseTestimonial2" aria-expanded="false" aria-controls="collapseTestimonial2">
                                        <img src="https://ui-avatars.com/api/?name=John+Smith" class=" float-left mr-1" alt="Avatar"> Testimonial from John Smith
                                    </button>
                                    <div class="collapse bg-white p-3" id="collapseTestimonial2">
                                        <div class="row">
                                            <div class="col">
                                                <p><i>I was trying to get fit by myself, but joining Git Fit made everything easier!</i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 offset-2  d-none d-sm-block">
                                <div class="testimonial-div mb-5 border-black bg-white">
                                    <img src="https://ui-avatars.com/api/?name=Brad+Harris" class=" float-left my-3 mr-3" alt="Avatar">
                                    <p class="my-3"><i>Git Fit keeps it simple. Join, if you finally want to get fit!</i><span><br>- Brad Harris</span></p>
                                </div>
                            </div>
                            <div class="col-8 offset-2  d-none d-sm-block">
                                <div class="testimonial-div mb-5 border-black bg-white">
                                    <img src="https://ui-avatars.com/api/?name=John+Smith" class=" float-left my-3 mr-3" alt="Avatar">
                                    <p class="my-3"><i>I was trying to get fit by myself, but joining Git Fit made everything easier!</i><span><br>- John Smith</span></p>
                                </div></div>
                        </div>
                    </section>
                    <section id="features-section">
                        <div class="row">
                            <div class="feature-btn-xs col-8 offset-2 d-block d-sm-none text-center">
                                <div class="feature-collapse mb-5">
                                    <button class="btn bg-white rounded-0 w-100" type="button" data-toggle="collapse" data-target="#collapseFeature1" aria-expanded="false" aria-controls="collapseFeature1">
                                        {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                        <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Shop with discount</u></h2>
                                      </button>
                                    <div class="collapse" id="collapseFeature1">
                                        <p class="p-3 bg-white text-left">Join the community and receive a 5% discount on items in our shop, ranging from exercise equipment and nutrition to merchandise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-btn-xs col-8 offset-2 d-block d-sm-none text-center">
                                <div class="feature-collapse mb-5">
                                    <button class="btn bg-white rounded-0 w-100" type="button" data-toggle="collapse" data-target="#collapseFeature2" aria-expanded="false" aria-controls="collapseFeature2">
                                        {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                        <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Be part of a community</u></h2>
                                      </button>
                                    <div class="collapse" id="collapseFeature2">
                                        <p class="p-3 bg-white text-left">Git Fit members get access to the Git Fit Community, a place where you can keep your Git Fit members up to date on your progress, support each other and celebrate success together.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-btn-xs col-8 offset-2 d-block d-sm-none text-center">
                                <div class="feature-collapse mb-5">
                                    <button class="btn bg-white rounded-0 w-100" type="button" data-toggle="collapse" data-target="#collapseFeature3" aria-expanded="false" aria-controls="collapseFeature3">
                                        {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                        <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Access fitness plans</u></h2>
                                      </button>
                                    <div class="collapse" id="collapseFeature3">
                                        <p class="p-3 bg-white text-left">Git Fit members are also able to purchase exercise and nutrition plans, based on your fitness goals. These exercise and nutrition plans are created and updated by our staff.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 offset-2 d-none d-sm-block">
                                <div class="feature-div mb-5 bg-white">
                                    <h2 class="mt-3 feature-header"><u>Shop with discount</u></h2>
                                    <p>Join the community and receive a 5% discount on items in our shop, ranging from exercise equipment and nutrition to merchandise.</p>
                                </div>
                             </div>
                            <div class="col-8 offset-2 d-none d-sm-block">
                                <div class="feature-div mb-5 bg-white">
                                    <h2 class="mt-3 feature-header"><u>Join the community</u></h2>
                                    <p>Git Fit members get access to the Git Fit Community, a place where you can keep your fellow Git Fit members up to date on your progress, support each other and celebrate success together.</p>
                                </div>
                             </div>
                            <div class="col-8 offset-2 d-none d-sm-block">
                                <div class="feature-div mb-5 bg-white">
                                    <h2 class="mt-3 feature-header"><u>Access fitness plans</u></h2>
                                    <p>Git Fit members are also able to purchase exercise and nutrition plans, based on your fitness goals. These exercise and nutrition plans are created and updated by our staff.</p>
                                </div>
                             </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
{% endblock content %}