{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-8 offset-2">
                <h1 class="display-4 text-center mb-3">  
                    Join The Family!
                </h1>
                <p class="text-center">
                    Getting fit can be challenging, and sometimes you need some support. Join Fit Family and we'll provide you with support, community and help you with your challenges.
                </p>
                <div>
                    <h4 class="text-center">
                        <a href="{% url 'account_signup' %}" class="btn btn-lg btn-outline-purple rounded text-uppercase"><i class="fas fa-user-plus"></i> Register</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}