{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
        <div class="container pt-5">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <section id="call-to-action-section_auth">
                        <div class="col-8 offset-2 offset-sm-4 mb-5">
                            <h1 class="bg-white call-to-action-header text-center px-4 my-5">We make it simple. Get fit</h1>
                            <div class="text-center">
                                <h4>
                                    <a href="#" class="btn btn-lg rounded text-uppercase mb-5 bg-white">Shop Now</a>
                                </h4>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <section id="call-to-action-section_unauth">
                        <div class="col-8 offset-2 offset-sm-4 mb-5">
                            <h1 class="bg-white call-to-action-header text-center px-4 my-5">We make it simple. Get fit</h1>
                            <div class="text-center">
                                <h4 class="px-4">
                                    <a href="#" class="btn btn-lg rounded text-uppercase mb-5 bg-white">Shop Now</a>
                                </h4>
                            </div>
                        </div>
            </div>
                    </section>
                    <section id="jumbotron-section">
                        <div class="row mt-5">
                            <div class="col-8 offset-2 offset-sm-3 jumbotron-btn-xs d-block d-md-none my-5">
                                <button id="jumbotron-collapse-button" class="btn bg-white px-4 mt-5" type="button" data-toggle="collapse" data-target="#collapseJumbotron" aria-expanded="false" aria-controls="collapseJumbotron">
                                    {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                    <h2 class="feature-header"><i class="fas fa-angle-right"></i> Join The Family!</h2>
                                  </button>
                                <div class="jumbotron collapse" id="collapseJumbotron">
                                    <div class="col">
                                        <p class="lead text-center">Getting fit can be challenging, and sometimes you need some support. Join Fit Family and we'll provide you with support, community and help you with your challenges.</p>
                                        <h4 class="text-center">
                                            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-outline-purple rounded text-uppercase"><i class="fas fa-user-plus"></i> Register</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-5">
                                <div class="jumbotron d-none d-md-block my-5">
                                    <div class="col-8 offset-2">
                                        <h1 class="text-center">Join The Family!</h1>
                                        <p class="lead text-center">Getting fit can be challenging, and sometimes you need some support. Join Fit Family and we'll provide you with support, community and help you with your challenges.</p>
                                        <h4 class="text-center">
                                            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-outline-purple rounded text-uppercase"><i class="fas fa-user-plus"></i> Register</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="testimonials-section">
                        <div class="row mb-5">
                            <div class="col-8 offset-2 testimonial-btn-xs d-block d-sm-none mb-5">
                                <button class="btn bg-white" type="button" data-toggle="collapse" data-target="#collapseTestimonial1" aria-expanded="false" aria-controls="collapseTestimonial1">
                                    <img src="https://ui-avatars.com/api/?name=Brad+Harris" class="rounded float-left mr-1" alt="Avatar"> Testimonial from Brad Harris
                                </button>
                                  <div class="collapse bg-white p-3" id="collapseTestimonial1">
                                    <div class="row">
                                        <div class="col">
                                            <p ><i>Getting fit alone is boring. Join Fit Family if you want to have fun!</i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 offset-2 testimonial-btn-xs d-block d-sm-none">
                                <button class="btn bg-white" type="button" data-toggle="collapse" data-target="#collapseTestimonial2" aria-expanded="false" aria-controls="collapseTestimonial2">
                                    <img src="https://ui-avatars.com/api/?name=John+Smith" class="rounded float-left mr-1" alt="Avatar"> Testimonial from John Smith
                                </button>
                                  <div class="collapse bg-white p-3" id="collapseTestimonial2">
                                    <div class="row">
                                        <div class="col">
                                            <p><i>I was trying to get fit by myself, but joining Fit Family made everything easier!</i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 border-purple rounded mx-auto bg-white d-none d-sm-block mb-5">
                                <img src="https://ui-avatars.com/api/?name=Brad+Harris" class="rounded float-left my-3 mr-3" alt="Avatar">
                                <p class="my-3"><i>Getting fit alone is boring. Join Fit Family if you want to have fun!</i><span><br>- Brad Harris</span></p>
                            </div>
                            <div class="col-8 border-purple rounded mx-auto bg-white d-none d-sm-block">
                                <img src="https://ui-avatars.com/api/?name=John+Smith" class="rounded float-left my-3 mr-3" alt="Avatar">
                                <p class="my-3"><i>I was trying to get fit by myself, but joining Fit Family made everything easier!</i><span><br>- John Smith</span></p>
                            </div>
                        </div>
                    </section>
                    <section id="features-section">
                        <div class="row mb-5">
                            <div class="feature-btn-xs col-8 offset-2 mb-5 d-block d-sm-none text-center">
                                <button class="btn bg-white" type="button" data-toggle="collapse" data-target="#collapseFeature1" aria-expanded="false" aria-controls="collapseFeature1">
                                    {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                    <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Shop with discount</u></h2>
                                  </button>
                                <div class="collapse" id="collapseFeature1">
                                    <p class="m-1 p-3 bg-white text-left">Join the family and receive a 5% discount on items in our shop, ranging from exercise equipment and nutrition to merchandise.</p>
                                </div>
                            </div>
                            <div class="feature-btn-xs col-8 offset-2 mb-5 d-block d-sm-none text-center">
                                <button class="btn bg-white" type="button" data-toggle="collapse" data-target="#collapseFeature2" aria-expanded="false" aria-controls="collapseFeature2">
                                    {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}                                    
                                    <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Join the community</u></h2>
                                  </button>
                                <div class="collapse" id="collapseFeature2">
                                    <p class="m-1 p-3 bg-white text-left">Fit Family members get access to the Fit Family Community, a place where you can keep your fellow Fit Family members up to date on your progress, support each other and celebrate success together.</p>
                                </div>
                            </div>
                            <div class="feature-btn-xs col-8 offset-2 d-block d-sm-none text-center">
                                <button class="btn bg-white" type="button" data-toggle="collapse" data-target="#collapseFeature3" aria-expanded="false" aria-controls="collapseFeature3">
                                    {% comment %} TODO: Add JavaScript/JQuery code that changes the icon on click {% endcomment %}
                                    <h2 class="feature-header"><i class="fas fa-angle-right"></i> <u>Access fitness plans</u></h2>
                                  </button>
                                <div class="collapse" id="collapseFeature3">
                                    <p class="m-1 p-3 bg-white text-left">Fit Family members are also able to purchase exercise and nutrition plans, based on your fitness goals. These exercise and nutrition plans are created and updated by our staff.</p>
                                </div>
                            </div>
                            <div class="col-8 offset-2 bg-white mb-5 d-none d-sm-block">
                                <h2 class="mt-3 feature-header"><u>Shop with discount</u></h2>
                                <p>Join the family and receive a 5% discount on items in our shop, ranging from exercise equipment and nutrition to merchandise.</p>
                            </div>
                            <div class="col-8 offset-2 bg-white mb-5 d-none d-sm-block">
                                <h2 class="mt-3 feature-header"><u>Join the community</u></h2>
                                <p>Fit Family members get access to the Fit Family Community, a place where you can keep your fellow Fit Family members up to date on your progress, support each other and celebrate success together.</p>
                            </div>
                            <div class="col-8 offset-2 bg-white d-none d-sm-block">
                                <h2 class="mt-3 feature-header"><u>Access fitness plans</u></h2>
                                <p>Fit Family members are also able to purchase exercise and nutrition plans, based on your fitness goals. These exercise and nutrition plans are created and updated by our staff.</p>
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
{% endblock content %}