/* Palette */
#FFAB03 /* Yellow */
#FC7F03 /* Orange */
#FC3903 /* Red */
#D1024E /* Deep red */
#A6026C /* Purple */

html {
    height: 100%;
}

body {
    background-image: url('/media/woman_doing_exercise.jpg');
    background-position: 63% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.header-container {
    padding-top: 164px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Indie Flower', cursive;
}

.bg-purple {
    background-color: #A6026C !important;
}

.border-purple {
    border: 1px solid #A6026C;
}

/* Text */
.text-yellow {
    color: #FFAB03 !important;
}

.text-purple {
    color: #A6026C !important;
}
/* End of text */

/* Buttons */
.btn-outline-purple {
    background: white;
    color: #A6026C !important;
    border: 1px solid #A6026C;
}

.btn-outline-purple:hover,
.btn-outline-purple:active,
.btn-outline-purple:focus {
    background: #A6026C;
    color: white !important;
}

.btn-purple {
    background: #A6026C;
    color: white;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background: white;
    color: #A6026C;
    border: 1px solid #A6026C;
}

.btn-bg-white-text-purple {
    background: white;
    color: #A6026C !important;  
}

.btn-bg-white-text-purple:hover,
.btn-bg-white-text-purple:active,
.btn-bg-white-text-purple:focus {
    background: #FC7F03;
    color: white !important;
}
/* End of Buttons */

/* Footer */
.social-link i {
    width: 40px;
    height: 40px;
    /* background-color: #6B382D ; */
    text-align: center;
    /* padding: 12px 0; */
    font-size: large;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #fefefe; */
    /* color: #fefefe;  */
}

.social-link:hover,
.social-link:active,
.social-link:focus {
    color: #FC7F03 !important;
}

#xs-submit-btn {
    margin-left: 5rem;
}
/* End of Footer */

/* Media queries */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 576px) {
    body {
        background-position: 57%;
    }
    
    #jumbotron-collapse-button {
        margin-top: 12rem !important;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        background-position: 57%;
    }

    .call-to-action-header {
        font-size: 1.8rem;
    }

    .feature-header {
        font-size: 1.5rem;
    }

    .social-link i {
        margin-right: 1.5rem;
    }
}
