:root {
    --netflix-red: #e50914;
    --netflix-white: #f5f5f1;
    --netflix-black: #221f1f;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--netflix-black);
    background-image: url('/media/woman_doing_exercise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--netflix-white);
}

/* To replace the background image */
.overlay { 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--netflix-black);
    z-index: -1;
}

.header-container {
    padding-top: 164px;
}

.minheight {
    min-height: 70vh;
}

.jumbotron {
    background-color: var(--netflix-white) !important;
    color: var(--netflix-black) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kelly Slab', cursive;
}

/* Background */
.bg-red {
    background-color: var(--netflix-red) !important;
}

.bg-white {
    background-color: var(--netflix-white) !important;
    color: var(--netflix-black) !important;
}

.bg-black {
    background-color: var(--netflix-black) !important;
}
/* End of Background */

/* Border */
.border-red {
    border: 2px solid var(--netflix-red);
}

.border-white {
    border: 1px solid var(--netflix-white);
}

.border-top-white {
    border-top: 1px solid var(--netflix-white);
}

.border-bottom-white {
    border-bottom: 1px solid var(--netflix-white);
}

.border-black {
    border: 1px solid var(--netflix-black);
}
/* End of Border */

/* Text */
.text-red {
    color: var(--netflix-red) !important;
}

.text-white {
    color: var(--netflix-white) !important;
}

.text-black {
    color: var(--netflix-black) !important;
}
/* End of Text */

/* Buttons */
.btn-outline-red {
    background: var(--netflix-white);
    color: var(--netflix-red) !important;
    border: 1px solid var(--netflix-red);
}

.btn-outline-red:hover,
.btn-outline-red:active,
.btn-outline-red:focus {
    background: var(--netflix-red);
    color: var(--netflix-white) !important;
}

.btn-outline-white {
    background: var(--netflix-black);
    color: var(--netflix-white) !important;
    border: 1px solid var(--netflix-white);
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background: var(--netflix-white);
    color: var(--netflix-black) !important;
}

.btn-outline-black {
    background: var(--netflix-white);
    color: var(--netflix-black) !important;
    border: 1px solid var(--netflix-black);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--netflix-black);
    color: var(--netflix-white) !important;
}

.btn-red {
    background: var(--netflix-red);
    color: var(--netflix-white);
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: var(--netflix-white);
    color: var(--netflix-red);
    border: 1px solid var(--netflix-red);
}

.btn-white {
    background: var(--netflix-white);
    color: var(--netflix-black);
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: var(--netflix-black);
    color: var(--netflix-white);
    border: 1px solid var(--netflix-white);
}

.btn-black {
    background: var(--netflix-black);
    color: var(--netflix-white);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--netflix-white);
    color: var(--netflix-black);
    border: 1px solid var(--netflix-black);
}

.btn-bg-white-text-black {
    background: var(--netflix-white);
    color: var(--netflix-black) !important;  
}

.btn-bg-white-text-black:hover,
.btn-bg-white-text-black:active,
.btn-bg-white-text-black:focus {
    background: var(--netflix-white);
    color: var(--netflix-black) !important;
    text-decoration: underline;
}

#button-to-top {
    padding: 5px 3px;
    position: fixed;
    bottom: 0;
    right: 10px;
    display: none;
    z-index: 9999999999999;
}

/* End of Buttons */

/* Links */
.link-white {
    color: var(--netflix-white);
}

.link-white:hover,
.link-white:active,
.link-white:focus {
    color: var(--netflix-red) !important;
}

.link-white-hover-white {
    color: var(--netflix-white);
}

.link-white-hover-white:hover,
.link-white-hover-white:active,
.link-white-hover-white:focus {
    color: var(--netflix-white) !important;
}

.link-red {
    color: var(--netflix-red);
}

.link-red:hover,
.link-red:active,
.link-red:focus {
    color: var(--netflix-red) !important;
}

.link-card:hover,
.link-card:active,
.link-card:focus {
    border: 2px solid var(--netflix-red) !important;
}

.link-black {
    color: var(--netflix-black);
}

.link-black:hover,
.link-black:active,
.link-black:focus {
    color: var(--netflix-black) !important;
}

.alert-primary {
    background-color: var(--netflix-white) !important;
    color: var(--netflix-black) !important;
}

/* End of Links */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.cart-toast-div {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* product form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/* Footer */
.social-link i {
    width: 40px;
    height: 40px;
    /* background-color: #6B382D ; */
    text-align: center;
    /* padding: 12px 0; */
    font-size: large;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #fefefe; */
    /* color: #fefefe;  */
}

.social-link:hover,
.social-link:active,
.social-link:focus {
    color: var(--netflix-red) !important;
}

#xs-submit-btn {
    margin-left: 5rem;
}
/* End of Footer */

/* Media queries */
@media (max-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 1080px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    body {
        background-position: 50%;
    }

    .header-container {
        padding-top: 120px;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        background-position: 50%;
    }

    .call-to-action-header {
        font-size: 1.8rem;
    }

    .feature-header {
        font-size: 1.5rem;
    }

    .social-link i {
        margin-right: 1.5rem;
    }
}

@media (max-width: 575px) {
    body {
        background-position: 50%;
    }
}