<!-- Main navigation: home, products and workouts. Hides behind hamburger menu on smaller screens -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="link-white font-weight-bold mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item dropdown">
            <a class="link-white font-weight-bold mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="link-white font-weight-bold mr-5" href="#" id="exercise-equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercise Equipment
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="exercise-equipment-link">
                <a href="{% url 'products' %}?category=weights" class="dropdown-item">Weights</a>
                <a href="{% url 'products' %}?category=clothes" class="dropdown-item">Clothes</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=weights,clothes,shoes,accessories" class="dropdown-item">All Exercise Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="link-white font-weight-bold mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?category=protein_powders" class="dropdown-item">Protein Powders</a>
                <a href="{% url 'products' %}?category=protein_bars" class="dropdown-item">Protein Bars</a>
                <a href="{% url 'products' %}?category=sports_drinks" class="dropdown-item">Sports Drinks</a>
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=protein_powders,protein_bars,sports_drinks,vitamins" class="dropdown-item">All Nutrition</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="link-white font-weight-bold" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <div class="dropdown-divider"></div>

        <li class="nav-item dropdown d-lg-none">
            <a class="link-white font-weight-bold mr-5" href="#" id="all-workouts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Workouts
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="all-workouts-link">
                {% if request.user.is_authenticated %}
                    <!-- Workouts are only available to signed in users -->
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_workout' %}" class="dropdown-item">Add Workout</a>
                    {% endif %}
                    <a href="{% url 'workouts' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'workouts' %}?sort=bodypart&direction=asc" class="dropdown-item ">By Body Part</a>
                    <a href="{% url 'workouts' %}?sort=equipment&direction=asc" class="dropdown-item ">By Equipment</a>
                    <a href="{% url 'workouts' %}?sort=target&direction=asc" class="dropdown-item ">By Target</a>
                    <a href="{% url 'workouts' %}" class="dropdown-item">All Workouts</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>