<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-white font-weight-bold mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-purple" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-white font-weight-bold mr-5" href="#" id="exercise-equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercise Equipment
            </a>
            <div class="dropdown-menu border-purple" aria-labelledby="exercise-equipment-link">
                <a href="" class="dropdown-item">Weights</a>
                <a href="" class="dropdown-item">Clothes</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Exercise Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-white font-weight-bold mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-purple" aria-labelledby="nutrition-link">
                <a href="" class="dropdown-item">Protein Powders</a>
                <a href="" class="dropdown-item">Protein Bars</a>
                <a href="" class="dropdown-item">Sports Drinks</a>
                <a href="" class="dropdown-item">Vitamins</a>
                <a href="" class="dropdown-item">All Nutrition</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-white font-weight-bold" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-purple" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>