.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  background-color: var(--netflix-white);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  outline: 3px solid var(--netflix-red);
}

.StripeElement--webkit-autofill {
  background-color: var(--netflix-white) !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
}

#payment-form .form-control,
#card-element {
    color: var(--netflix-black);
    background-color: var(--netflix-white);
}

select, 
select option {
  color: var(--netflix-black);;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--netflix-black);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}