<div class="toast rounded-0 border-red" data-autohide="false">
    <div class="toast-header bg-white text-black">
        <strong class="mr-auto"><i class="fas fa-check"></i> Success</strong>
        <button class="ml-2 mb-1 close text-black" type="button" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr>
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="bg-white text-black">Your Cart ({{ product_count }})</p>
            <div class="cart-toast-div">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3">
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-100">
                            {% else %}
                                <img src="{{ MEDIA_URL }}No_Image_Available.jpg" alt="{{ item.product.name }}" class="w-100">   
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="font-weight-bold">{{ item.product.name }}</p>
                            <p class="font-weight-light">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-black font-weight-bold">
                        Total{% if free_delivery_difference > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">${{ total|floatformat:2 }}</span>
                    </p>
                    {% if free_delivery_difference > 0 %}
                        <p class="text-white text-center bg-red py-3">
                            Add ${{ free_delivery_difference }} more for free delivery.
                        </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" class="btn btn-black btn-block rounded-0"><i class="fas fa-wallet"></i> Go To Checkout</a>
                </div>
            </div>
        {% endif %}            
    </div>
</div>